.container {
  margin-top: 20px;
}

.infoContainer {
  display: flex;
  align-items: center;
  gap: 50px;
}

.textContainer {
  flex: 1;
}

.title {
  font-size: 64px;
  margin-bottom: 50px;
  overflow-wrap: anywhere;
  word-break: break-all;
}

.user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.userImageContainer {
  width: 50px;
  height: 50px;
  position: relative;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.userTextContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--softTextColor);
}

.username {
  font-size: 20px;
  font-weight: 500;
}

.imageContainer {
  flex: 1;
  height: 350px;
  position: relative;
}

.image {
  object-fit: cover;
  position: initial !important;
}

.content {
  display: flex;
  gap: 50px;
}

.post {
  flex: 5;
  margin-top: 60px;
}

.description p {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}

.description {
  overflow-wrap: anywhere;
  word-break: break-all;
}

.notFound {
  margin: 50px auto;
  text-align: center;
  font-size: 60px;
  text-decoration: overline underline;
  text-transform: uppercase;
}

.category {
  width: max-content;
  padding: 5px 12px;
  border-radius: 10px;
  font-size: 12px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
}

.category.travel {
  background-color: #ff7857;
}

.category.culture {
  background-color: #ffb14f;
}

.category.food {
  background-color: #7fb881;
}

.category.fashion {
  background-color: #ff7887;
}

.category.coding {
  background-color: #775aec;
}

/* .coding {
  background-color: #5e4fff31;
} */

.category.style {
  background-color: #789cff;
}

.category.tech {
  background-color: #ff4f4f;
}

.category.business {
  background-color: #1e443a;
}

.category.news {
  background-color: #f79124;
}

.category.political {
  background-color: #c375d3;
}

.category.sports {
  background-color: #3685df;
}

.category.personal {
  background-color: #6dcf72;
}

.category.untagged {
  background-color: #78abf8;
}

@media screen and (max-width: 1536px) {
  .title {
    font-size: 54px;
  }
}
@media screen and (max-width: 1280px) {
  .title {
    font-size: 48px;
  }
}
@media screen and (max-width: 1024px) {
  /* .imageContainer {
    display: none;
  } */

  .infoContainer {
    flex-direction: column;
  }

  .notFound {
    text-decoration: none;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
  }
}
@media screen and (max-width: 640px) {
  .title {
    font-size: 48px;
  }

  .description {
    font-size: 18px;
  }
}
