.container {
  margin-top: 20px;
}

.infoContainer {
  display: flex;
  /* align-items: center; */
  gap: 50px;

  min-width: 0;
}

.textContainer {
  flex: 1;
  min-width: 0;
}

.title {
  font-size: 64px;
  margin-bottom: 50px;
  overflow-wrap: break-word;
}

.user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.userImageContainer {
  width: 50px;
  height: 50px;
  position: relative;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.userTextContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--softTextColor);
  min-width: 0;
}

.username {
  font-size: 20px;
  font-weight: 500;
  min-width: 0;
}

.imageContainer {
  flex: 1;
  height: 350px;
  position: relative;
  min-width: 0;
}

.image {
  object-fit: cover;
  position: initial !important;
}

.content {
  display: flex;
  gap: 50px;
  min-width: 0;
}

.post {
  flex: 5;
  margin-top: 60px;
  min-width: 0;
}

.description p {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}

.description {
  overflow-wrap: break-word;
  min-width: 0;
}

.description img {
  max-width: 100%;
}

.notFound {
  margin: 50px auto;
  text-align: center;
  font-size: 60px;
  text-decoration: overline underline;
  text-transform: uppercase;
}

.date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
}

.updateDate {
  font-size: 12px;
  min-width: 0;
}

.comment {
  min-width: 0;
}

@media screen and (max-width: 1536px) {
  .title {
    font-size: 54px;
  }
}
@media screen and (max-width: 1280px) {
  .title {
    font-size: 48px;
  }
}
@media screen and (max-width: 1024px) {
  /* .imageContainer {
    display: none;
  } */

  .infoContainer {
    flex-direction: column;
  }

  .imageContainer {
    width: 100%;
    aspect-ratio: 20/9;
  }

  .image {
    object-fit: cover;
  }

  .notFound {
    text-decoration: none;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
  }
}
@media screen and (max-width: 640px) {
  .title {
    font-size: 48px;
  }

  .description {
    font-size: 18px;
  }
}
