.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 60px;
  gap: 10px;
  user-select: none;
  text-align: center;
}

.container a {
  font-weight: 600;
}

.wrapper {
  background-color: var(--softBg);
  padding: 150px 200px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  border-radius: 10px;
}

.socialButton,
.testLoginButton {
  padding: 20px;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testLoginButton {
  cursor: default;
}

.socialButton:first-child {
  background-color: #ff4545;
  order: 2;
}

.socialButton:first-child:hover {
  background-color: #ff5555;
}

.socialButton:nth-child(2) {
  background-color: #111;
  order: 3;
}

.socialButton:nth-child(2):hover {
  background-color: #0a0a0a;
}

.testLoginButton {
  color: black;
  background-color: white;
  order: 1;
}

/* .testLoginButton:hover {
  filter: contrast(80%);
} */

.hideForm {
  display: none;
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 50px 100px;
  }
}
@media screen and (max-width: 640px) {
  .wrapper {
    padding: 30px;
  }

  .socialButton {
    font-weight: 400;
    font-size: 14px;
  }
}
