:root {
  --bg: white;
  --softBg: #f0f0f0;
  --textColor: black;
  --softTextColor: #626262;
  --pngBg: #0e467ab4;
  --svgFill: invert(0%) sepia(95%) saturate(21%) hue-rotate(2deg)
    brightness(101%) contrast(107%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.dark {
  /* --bg: #030a1a; */
  --bg: #0f172a;
  --textColor: #ddd;
  --softBg: #1f273a;
  --softTextColor: #a6a6a6;
  --pngBg: #1f273a;
  --svgFill: invert(99%) sepia(0%) saturate(2323%) hue-rotate(42deg)
    brightness(115%) contrast(73%);
}

.dark img {
  filter: brightness(75%);
}

.container {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--textColor);
}

.wrapper {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: rebeccapurple; */
  padding-left: 80px;
  padding-right: 80px;
}

.ql-container {
  font-size: 28px !important;
}

.quill > .ql-container > .ql-editor.ql-blank,
.quill > .ql-container > .ql-editor.ql-blank::before {
  color: #b3b3b1;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.error {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 20px;
}

.error button {
  width: max-content;
  padding: 5px 30px;
  background-color: var(--softBg);
  color: var(--svgFill);
  border-radius: 5px;
  border: 1px solid var(--textColor);
  cursor: pointer;
}

@media screen and (max-width: 1536px) {
  .wrapper {
    max-width: 1366px;
  }
}

@media screen and (max-width: 1280px) {
  .wrapper {
    max-width: 1024px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 640px;
  }
}

@media screen and (max-width: 640px) {
  .wrapper {
    max-width: 475px;
  }
}
