.container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.editor {
  display: flex;
  gap: 20px;
  height: 700px;
  position: relative;
}

.button,
.addButton {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--textColor);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.25s;
}

.button img {
  filter: var(--svgFill);
}

.addButton {
  border-color: #1a8917;
  background-color: var(--softBg);
}

.add {
  display: flex;
  gap: 20px;
  /* background-color: var(--bg); */
  background-color: transparent;
  position: absolute;
  z-index: 999;
  /* width: 100%; */
  width: max-content;
  left: 70px;
  align-items: center;
  flex-wrap: wrap;
}

.add .span {
  border: 1px solid var(--textColor);
  padding: 2px 10px;
  border-radius: 25px;
}

.open {
  rotate: calc(45deg * 5);
}

.input {
  padding: 50px 15px;
  padding-left: 0;
  font-size: 64px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--textColor);
}

.input::placeholder {
  color: #b3b3b1;
}

.textArea {
  width: 100%;
}

.publish {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 20px;
  border: none;
  background-color: #1a8917;
  color: white;
  cursor: pointer;
  border-radius: 20px;
}

.hiddenInput {
  display: none;
}

.label {
  cursor: pointer;
}

.extraContainer {
  padding-left: 12px;
}

.selectContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.select {
  margin-bottom: 20px;
  padding: 10px 20px;
  width: max-content;
  text-transform: capitalize;
}

.addContainer {
  display: flex;
}

.errorData {
  margin: auto;
  border: 1px solid red;
  padding: 5px 10px;
  border-radius: 25px;
}

.hide {
  display: none;
}

@media screen and (max-width: 640px) {
  .add .span {
    display: none;
  }
}
