.container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.editor {
  display: flex;
  gap: 20px;
  height: 700px;
  position: relative;
}

.button,
.addButton {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--textColor);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.25s;
}

.button img {
  filter: var(--svgFill);
}

.addButton {
  border-color: #1a8917;
  /* background-color: var(--softBg); */
  background-color: var(--pngBg);
}

.addButton img {
  filter: brightness(200%);
}

.add {
  display: flex;
  gap: 20px;
  /* background-color: var(--bg); */
  background-color: transparent;
  position: absolute;
  z-index: 999;
  /* width: 100%; */
  width: max-content;
  left: 70px;
  align-items: center;
  flex-wrap: wrap;
}

.add .span {
  border: 1px solid var(--textColor);
  padding: 2px 10px;
  border-radius: 25px;
  background-color: var(--softBg);
}

.open {
  rotate: calc(45deg * 5);
}

.input {
  padding: 50px 15px;
  padding-left: 0;
  font-size: 64px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--textColor);
}

.input::placeholder {
  color: #b3b3b1;
}

.textArea {
  width: 100%;
}

.publish,
.cancelPublish {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 20px;
  border: none;
  background-color: #1a8917;
  color: white;
  cursor: pointer;
  border-radius: 20px;
}

.cancelPublish {
  right: 90px;
  padding: 0;
  margin: 0;
}
.cancelPublish button {
  margin: 0;
  background-color: var(--softBg);
  color: var(--textColor);
}

.hiddenInput {
  display: none;
}

.label {
  cursor: pointer;
}

.extraContainer {
  padding-left: 12px;
}

.selectContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.select {
  margin-bottom: 20px;
  padding: 10px 20px;
  width: max-content;
  text-transform: capitalize;
}

.addContainer {
  display: flex;
}

.errorData {
  margin: auto;
  border: 1px solid red;
  padding: 5px 10px;
  background-color: rgb(252, 218, 218);
  color: red;
  border-radius: 25px;
  z-index: 1000;
  text-align: center;
}

.errorImg {
  transform: translateY(2px);
}

.hide {
  display: none;
}

.buttonSuccessful {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.notFound {
  margin: 50px auto;
  text-align: center;
  font-size: 60px;
  text-decoration: overline underline;
  text-transform: uppercase;
}

/* .select option:last-child { */
/* .select option:last-child {
  color: #1a8917;
} */

@media screen and (max-width: 640px) {
  .add .span {
    display: none;
  }
}
