.categoryItem {
  --fashion: #da85c780;
  --style: #57c4ff80;
  --food: #7fb88180;
  --travel: #ff795780;
  --culture: #ffb04f80;
  --coding: #5e4fff80;
  --tech: #ff4f4f80;
  --business: #4fff6780;
  --news: #f7912480;
  --political: #c375d380;
  --sports: #3685df80;
  --personal: #6dcf7280;
  --untagged: #78abf880;
}

.categoryPill {
  width: max-content;
  padding: 5px 12px;
  border-radius: 10px;
  font-size: 12px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
}

.categoryMenu {
  width: 45%;
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 14px;
  text-transform: capitalize;
}

.categoryList,
.categoryListPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  gap: 10px;
  text-transform: capitalize;
  height: 80px;
  border-radius: 10px;
}

.categoryListPage {
  width: auto;
}

.categoryPillSmall {
  width: max-content;
  padding: 3px 8px;
  border-radius: 10px;
  font-size: 12px;
  color: white;
  text-transform: capitalize;
}

.edited {
  background-color: slategray;
  font-size: 12px;
  color: white;
  text-transform: capitalize;
  padding: 3px 8px;
  border-top-right-radius: 10px;
  margin-top: 15px;
  cursor: default;
  width: fit-content;
}

.categoryItem:hover {
  filter: brightness(120%);
}

.style {
  background-color: var(--style);
}

.fashion {
  background-color: var(--fashion);
}

.food {
  background-color: var(--food);
}

.travel {
  background-color: var(--travel);
}

.culture {
  background-color: var(--culture);
}

.coding {
  background-color: var(--coding);
}

.tech {
  background-color: var(--tech);
}

.business {
  background-color: var(--business);
}

.news {
  background-color: var(--news);
}

.political {
  background-color: var(--political);
}

.sports {
  background-color: var(--sports);
}

.personal {
  background-color: var(--personal);
}

.untagged {
  background-color: var(--untagged);
}

@media screen and (max-width: 1280px) {
  .categoryList {
    width: 20%;
  }
}

@media screen and (max-width: 1024px) {
  .categoryList {
    width: 45%;
  }

  .categoryMenu {
    width: 28%;
  }
}

@media screen and (max-width: 768px) {
  .categoryList {
    width: 45%;
  }
}

@media screen and (max-width: 640px) {
  .categoryList {
    width: 100%;
  }
  .categoryMenu {
    width: 100%;
  }
}
