.container {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.detailContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.imageContainer {
  position: relative;
}
.image {
  object-fit: cover;
  border-radius: 50%;
}

.notLoggedIn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
.link {
  margin: 0 5px;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
