.items {
  margin-top: 35px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  overflow-wrap: anywhere;
  word-break: break-all;
}

.item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.imageContainer {
  flex: 1;
  aspect-ratio: 1/1;
  position: relative;
}

.image {
  border-radius: 50%;
  border: 3px solid lightgray;
  object-fit: cover;
}

.textContainer {
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.postTitle {
  font-size: 18px;
  font-weight: 500;
  color: var(--softTextColor);
  /* overflow-wrap: anywhere; */
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: wrap;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.detail {
  font-size: 12px;
}

.date {
  color: gray;
}

.item:hover {
  filter: brightness(120%);
}
