.progressBar {
  position: relative;
  width: 100%;
  height: 4px;
  background-color: red;
  z-index: 150;
  transform-origin: 0%;
  margin: 10px 0;
}

.fullWidth {
  position: sticky;
  top: 80px;
  width: 100%;
  background-color: var(--softBg);
  z-index: 150;
  margin: 0;
  padding: 0;
}

.description p {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}

.description {
  overflow-wrap: break-word;
  min-width: 0;
}

.description img {
  max-width: 100%;
}
